{% load  static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid bed Portal</title>
        <link href = "{% static 'HomePage/style.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="top">
                <ul class="nav-menu">
                    <li class="btn"><a href = "/homepage/">Home</a></li>
                    <li><a href = "/protectyourself/">Protect Yourself</a></li>
                    <li><a href = "/login/">Login</a></li>
                    <li><a href = "">Beds</a></li>
                    <li><a href = "/helpus/">Help us</a></li>
                </ul>
            </div>

        </header>
    </body>
</html>
