{% load  static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'LoginPage/signinpage.css' %}" />
    <title></title>
  </head>
  <body background='{% static 'LoginPage/Login.png' %}'>
    {% if error %}
        {{error}}
    {% endif %}

    <div class="loginDiv">
      <p class="loginText">Login</p>
      <div class="loginForm">
        <form class="login" action="" method="post">
          {% csrf_token %}
          <p class="loginDetails">Username</p>
          <input type="text" name="uname" ></input>
          <br>
          <p class="loginDetails">Password</p>
          <input type="password" name="pass" ></input>
          <br>
          <button type="submit" name="button">Verify</button>
        </form><br>
        <a href="/login/register"><p>Don't have any account?<br />Make new Account</p></a>
      </div>

    </div>
  </body>
</html>
