{% load static %}

<html>
    <head>
        <title>Covid bed portal</title>
        <link href = "{% static 'ProtectYourself/about.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="top">
                <ul class="nav-menu">
                    <li><a href = "/homepage/">Home</a></li>
                    <li class="btn"><a href = "/protectyourself/">Protect Yourself</a></li>
                    <li><a href = "/hospitaldetails/">Beds</a></li>
                    <li><a href = "/helpus/">Help us</a></li>
                    <li><a href = "/login/">Login</a></li>
                </ul>
            </div>

            <div class="boxed">
                <br>
                <br>
                <h1><center>Protect yourself</center></h1>
                  <p> According to the Centers for Disease Control and Prevention (CDC), “The best way to prevent illness is to avoid being exposed to this virus.” As the vaccines continue their roll out, here are the simple steps you can take to help prevent the spread of COVID-19 and protect yourself and others.

                    <br><br>

                    <h2><br><b> Know how it spreads</b></h2>
                    <p>
                     <br>Scientists are still learning about COVID-19, the disease caused by the coronavirus, but according to the CDC, this highly contagious virus appears to be most commonly spread during close (within 6 feet) person-to-person contact through respiratory droplets.
                    
                    <br> “The means of transmission can be through respiratory droplets produced when a person coughs or sneezes, or by direct physical contact with an infected person, such as shaking hands,” says Dr. David Goldberg, an internist and infectious disease specialist at NewYork-Presbyterian Medical Group Westchester and an assistant professor of medicine at Columbia University Vagelos College of Physicians and Surgeons.
                    
                    <br> The CDC also notes that COVID-19 can spread by airborne transmission, although this is less common than close contact with a person. “Some infections can be spread by exposure to virus in small droplets and particles that can linger in the air for minutes to hours,” the CDC states. “These viruses may be able to infect people who are further than 6 feet away from the person who is infected or after that person has left the space. These transmissions occurred within enclosed spaces that had inadequate ventilation.”
                    
                    <br> Finally, it’s possible for coronavirus to spread through contaminated surfaces, but this is also less likely. According to the CDC, “Based on data from lab studies on COVID-19 and what we know about similar respiratory diseases, it may be possible that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes, but this isn’t thought to be the main way the virus spreads.”
                
                    <br>How contagious is coronavirus? A person infected with the new coronavirus can spread the virus to 1.5 – 3.5 people. This metric, known as the R0 or R-naught, describes how contagious a virus is. Here, we show how quickly the new coronavirus can jump from 1 infection to over 1 million.
                    
                    <p>
                    <h2><br><b>Practice social distancing</b></h2>
                    <p>
                    <br>Since close person-to-person contact appears to be the main source of transmission, social distancing remains a key way to mitigate spread. The CDC recommends maintaining a distance of approximately 6 feet from others in public places. This distance will help you avoid direct contact with respiratory droplets produced by coughing or sneezing.
                    
                    <br>In addition, studies have found that outdoor settings with enough space to distance and good ventilation will reduce risk of exposure. “There is up to 80% less transmission of the virus happening outdoors versus indoors,” says Dr. Ashwin Vasan, an assistant attending physician in the Department of Medicine at NewYork-Presbyterian/Columbia University Irving Medical Center and an assistant professor at the Mailman School of Public Health and Columbia University Vagelos College of Physicians and Surgeons. “One study found that of 318 outbreaks that accounted for 1,245 confirmed cases in China, only one outbreak occurred outdoors. That’s significant. I recommend spending time with others outside. We’re not talking about going to a sporting event or a concert. We’re talking about going for a walk or going to the park, or even having a conversation at a safe distance with someone outside.”
                    </p>
                    <h2><br><b>Wash your hands</b></h2>
                    <p>
                    <br>Practicing good hygiene is an important habit that helps prevent the spread of COVID-19. Make these CDC recommendations part of your routine:
                    
                    <br>Wash your hands often with soap and water for at least 20 seconds, especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.
                    <br>It’s especially important to wash:
                    <br>1)Before eating or preparing food
                    <br>2)Before touching your face
                    <br>3)After using the restroom
                    <br>4)After leaving a public place
                    <br>5)After blowing your nose, coughing, or sneezing
                    <br>6)After handling your mask
                    <br>7)After changing a diaper
                    <br>8)After caring for someone who’s sick
                    <br>9)After touching animals or pets
                    <br>10)If soap and water are not readily available, use a hand sanitizer that contains at least 60% alcohol. Cover all surfaces of your hands with the sanitizer and rub them together until they feel dry.
                    <br>11)Avoid touching your eyes, nose, and mouth with unwashed hands.
                    <br>12)Visit the CDC website for guidelines on how to properly wash your hands and use hand sanitizer.
                    <br>
                    <br>In addition to hand-washing, disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
                    </p>
                    <h2><br><b>Wear a mask</b></h2>
                    <p>
                    <br> Face masks have become essential accessories in protecting yourself and others from contracting COVID-19. The CDC recommends that people wear face coverings in public settings, especially since studies have shown that individuals with the novel coronavirus could be asymptomatic or presymptomatic. (Face masks, however, do not replace social distancing recommendations.)
                    
                    <br>  “Face masks are designed to provide a barrier between your airway and the outside world,” says Dr. Ole Vielemeyer, medical director of Weill Cornell ID Associates and Travel Medicine in the Division of Infectious Diseases at NewYork-Presbyterian/Weill Cornell Medical Center and Weill Cornell Medicine. “By wearing a mask that covers your mouth and nose, you will reduce the risk of serving as the source of disease spread by trapping your own droplets in the mask, and also reduce the risk of getting sick via droplets that contain the coronavirus by blocking access to your own airways.”
                   </p> 
                   <h2><br><b>Restrict your travel</b></h2>
                    <p> <br> Traveling can increase the spread of COVID-19 and put you at risk for contracting the disease. The CDC recommends avoiding non-essential travel to many international destinations during the pandemic. It also advises people to weigh the risks when it comes to domestic travel: “Travel increases your chance of getting and spreading COVID-19,” states the CDC. “Staying home is the best way to protect yourself and others from COVID-19.”
                    
                    <br> “For people at risk for the complications of COVID-19, such as those with underlying medical conditions or those who are older, it’s prudent to avoid travel,” says Dr. Goldberg.
                    
                    <br>  If you must travel, take safety measures, consider your mode of transportation, and stay up to date on the restrictions that are in place at your destination. Adhering to your state’s quarantine rules after traveling will help prevent the spread of COVID-19.
                    <br>
                    </p> 
               
                    <h2><br><b>Watch for symptoms</b></h2>
                    <p> 
                    <br> The symptoms of infection for the coronavirus are often similar to those of other respiratory virus infections, such as influenza. Symptoms can include:
                     <br>
                    <br> 1)Fever or chills
                    <br>2)Cough
                    <br>3)Shortness of breath or difficulty breathing
                    <br>4)Fatigue
                    <br>5)Muscle or body aches
                    <br>6)Headache
                    <br>7)New loss of taste or smell
                    <br>8)Sore throat
                    <br>9)Congestion or runny nose
                    <br>10)Nausea or vomiting
                    <br>11)Diarrhea
                    <br>With the COVID-19 pandemic now coinciding with flu season, it’s important to recognize the differences in symptoms — as well as get a flu shot. “The medical community is concerned that if we have an increased number of influenza cases, it will strain the hospital system on top of what’s already going on with the COVID-19 pandemic,” says Dr. Ting Ting Wong, an attending physician and infectious disease specialist at NewYork-Presbyterian Brooklyn Methodist Hospital.
                    
                    <br>If you think you may have been exposed to a person with COVID-19 and have symptoms, call ahead to a doctor’s office to see if you can get tested. You can also use a virtual care platform, such as NewYork-Presbyterian’s NYP OnDemand, to meet with a healthcare professional by videoconference. Avoid contact with others and wear a face mask if you need to leave your home when you are sick.</p>
                </p> 
             </div>    
        </header> 
    </body>
</html>