*
{
    margin:0;
    padding:0;
}

header{
    background-image:url('details.png');
    height: 100%;
    background-size:cover;
    background-position:center ;
}



.nav-menu{
    float: right;
    list-style:none;
    margin-top:30px;
}

.nav-menu li{
    display:inline-block
}

.nav-menu li a{
    color: rgb(255, 255, 255);
    text-decoration: rgb(54, 49, 36);
    padding: 5px 20px;
    font-family: "Verdana", "sans-serif";
    font-size: 20px;
    }

.btn a{
    border:solid;
    border:white;
    background-color:rgb(9, 22, 90);
}

.nav-menu li a:hover{
    border:solid;
    border:white;
    background-color:rgb(9, 22, 90);
}

.formDiv{
    border-radius: 30px;
    padding: 75px;
    padding-bottom: 5px;
    position: absolute;
    height:100%;
    max-height:400px;
    border:rgb(9, 22, 90);
    background-color:rgb(9, 22, 90);
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 50%;
    max-width: 500px;
    margin: auto auto;
    justify-content: space-evenly;
     
  }

  @media(max-width:670px){
      .formDiv{
          max-height: 500px;
      }
  }
  
  .formItems{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: serif;
  }

  .formItemsNew{
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-family: serif;
  }

  input{
    font-size: 20px;
    color: white;
    position: unset;
    border: none;
    background-color:rgb(9, 22, 90);
    text-decoration: underline;
  }